body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("Background for site.jpg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); 
  color: rgb(230,0,0);
  font-family: Trebuchet MS;
  font-size: 16px;
}
h1, p, h2{
  text-align: center;
}
form {
  background-color: rgba(128,128,128,0.5);
  width: 60vw;
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto ;
  padding: 1rem 1rem;
  transition: width 0.3s ease;
  backdrop-filter: blur(10px);
}
legend:first-of-type {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input,select,textarea {
  width: 100%;
  min-height: 10px;
}
a {
  color: #d7af2a;
}
.inline {
  width: unset;
  margin: 0 0.6rem 0 0;
  vertical-align: middle;
}
input, textarea,select {
  background: linear-gradient(to right,white,rgb(230,200,0));
  border: 1px solid #000000;
  color: black;
}
input[type="submit"]{
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 1.1rem;
}
fieldset {
  border: none;
}
